body {
    font-family: Arial, sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.table-calendar .row {
    margin: 0;
}

.table-calendar .col {
    padding: 0;
    position: relative;
}

.table-calendar .col .slot {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.slot-circle {
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%);
}
.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-dialog {
    position: fixed;
    top: 50%;
    left: 50%;
}
